.search-form{
    background: #8a8a8a;
    padding: 10px 40px;
    border-radius: 10px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
}

.search-form form{
    margin: 10px 0;
}

.search-form input{
    width: 70%;
}

.search-form input, .search-form button {
    outline: none;
    padding: 14px;
    border-radius: 7px;
    border: none;
}

.search-form button{
    padding: 14px 40px;
    background-color: rgb(23, 172, 23);
}

.search-results{
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    padding: 10px 30px;
    margin: 20px 0;
}

.user{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    align-items: center;
    padding: 0px 0px;
    border-bottom: black solid 1px;
}

.user .image{
    width: 30%;
}

.user .image img{
    width: 100%;
    border-radius: 50%;
}

.user-info *{
    display: block;
    padding: 0 10px;
}

/* pagination */
.more-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.more-options select,
.pagination button {
    outline: none;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.pagination button{
    background-color: rgb(199, 199, 199);
    margin: 0 5px;
}